.alert{
    margin-bottom: 0rem;
}
body{
  font-family: poppins;
}

.carousel-item{
  height: auto; 
}


.mt-0{
  padding-top: 1rem;
}
.mt-1{
  padding-top: 3rem;
}

.card-img-top {
  width: 100%;
  height: 35vw;
  object-fit: cover;
}

.card-title{
  text-align: center;
  font-weight: bolder;
  font-style: oblique;
  font-size: larger;
  
}
.form-0{
  background-color: rgb(120, 208, 219);
  
}
.form-1 {
  margin : 3px;
  margin-top: 1%;
  border : 1px solid black;
  padding: 25px;
}

.form-3{
  height: 600px;
}
.footer{
  
    text-align: center;
    position: relative;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
    display: block;
}